body {
    background-color: lightgray;
}

.title {
    width: 100%;
    text-align: center;
}

.nav a {
    text-decoration: none;
    background-color: pink;
    width: 100%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 5px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

